.button {
    -fx-background-insets: 0;
    -fx-style: none;
    -fx-border: none;
    -fx-background-color: cornflowerblue;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: blue;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: darkblue;
    -fx-cursor: hand;
}

.button#excluir {
    -fx-background-color: #ed6464;
}

.button#excluir:hover {
    -fx-background-color: #ff4444;
}

.button#excluir:pressed {
    -fx-background-color: #c60000;
}